* {
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  height: 10000px;
}

.masthead {
  width: 100%;

  background: url("http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/wot-masthead-dark.jpg") center;
  background-size: cover;
}

.header {
  position: fixed;
  width: 100%;
  height: 80px;
  padding: 15px 0;
  top: 0;
  background-color: transparent;
}





.headerbox {
  width: 95%;
  height: 100%;
  position: relative;
  justify-content: space-between;
  padding:0 15px;
  display: flex;
  margin: 0 auto;
}

.logo {
  height: 31px;
  margin-top: 5px;
}

.logo img {
  height: 31px;
  width: 155px;
}
.hamburger {
  float: right;
  postion: absolute;
  margin: 10px 30px 0 0;
}

.hamburger img {
  height: 15px;
  width: 20px;
}

.headerbox ul {
  height: 19px;
  width: auto;
  float: right;
  padding-left: 0;
  margin-top: 10px;
  padding: 0 10px;
}
.headerbox ul li{
  display: inline;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 23px;
  margin-right: 22px;
  text-decoration: none;

}

.headerbox ul li a{
  text-decoration: none;
  color: white;
}

.masthead-top{
  margin: 0 auto 0 auto;
  height: 420px;
  width:650px;
  max-width: 760px;
  display: block;
  padding-top: 185px;
  /*display: list-item;*/
  color: white;
  text-align: center;
  font-stretch: expanded;
  font-family: 'Oswald';
}

.masthead-top small {
  font-size: 22px;
  text-align: left;
  display: block;
  line-height: 22px;

}

span.main {

  width: 100%;
  font-size: 152px;
  font-family: 'Oswald';
  font-weight: 300;
  line-height: 50px;
}

.sub {
  margin: 50px 70px 0 70px;
  width: 100%;
  font-size: 18px;
  line-height: 20px;
}

.whitebar {
  width: 91.9px;
  height: 9px;
  background-color: white;
  display: inline-block;
  margin-bottom: 2px;
}

em {
  font-style: normal;
  color: #ff803a;
}

i {
  font-style: normal;
  color: #bdd436;
}

.masthead-bottom {
  width: 100%;
  height: 100px;
}

.green-button {
  width: 300px;
  height: 50px;
  background-color: #bdd436;
  color: white;
  text-align: center;
  line-height: 23px;
  font: 16px 'Open Sans';
  font-weight: 700;
  letter-spacing: 1px;
  margin: 28px auto;
  padding-top: 12px;
  padding-bottom: 0;
  border-radius: 62px;

}

.mission-box {
  font-family: 'Open Sans', sans-serif;
  background-color: #F0F0F0;
  color: #6a787c;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  padding: 40px;
}

.mission-box p{
  max-width: 80%;
  margin:0 auto 20px auto;
}

.icon {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 42px;
  line-height: 46px;
  margin-bottom: 40px;
}

.icon em {
  font-weight: bold;
  color: #bdd436;
}

.icon img{
  display: block;
  margin: 0 auto 20px;
}


@media (max-width: 768px) {
  .header {
    padding: 15px 0;
    background-color: white;
    height: 75px;
  }
}

@media (max-width: 999px) {
  .headerbox ul {
    display: none;
  }
  .green-button {
    width: 720px;
  }
  .hamburger {
    margin-right: 5%;
  }
  .logo {
    margin-left: 5%;
  }
  .mission-box {
    height: 450px;
  }
}


@media (min-width: 999px) {
  .hamburger {
    display: none;
  }
  .mission-box {
    height: 385px;
  }
}
