* {
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  height: 10000px;
}

.masthead {
  width: 100%;
  height: 1030px;
  background: url("http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/wot-masthead-dark.jpg") center;
  background-size: cover;
}

.header {
  position: fixed;
  width: 100%;
  height: 105px;
  padding: 30px 0;
  top: 0;
}

@media (max-width: 768px) {
  .header {
    padding: 15px 0;
    background-color: white;
    height: 75px;
  }
}



.headerbox {
  width: 95%;
  height: 100%;
  position: relative;
  justify-content: space-between;
  padding:0 15px;

  margin: 0 auto;
}

.logo {
  height: 31px;
  margin-top: 5px;
}

.logo img {
  height: 31px;
  width: 155px;
}
.hamburger {
  float: right;
  postion: absolute;
  margin: 10px 30px 0 0;
}

.hamburger img {
  height: 15px;
  width: 20px;
}

.headerbox ul {
  height: 19px;
  width: auto;
  float: right;
  padding-left: 0;
  margin-top: 10px;
  padding: 0 10px;
}
.headerbox ul li{
  display: inline;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 23px;
  margin-right: 22px;
  text-decoration: none;

}

.headerbox ul li a{
  text-decoration: none;
  color: white;
}

@media (max-width: 999px) {
  .headerbox ul {
    display: none;
  }
}

@media (min-width: 999px) {
  .hamburger {
    display: none;
  }
}
.masthead-top{
  margin: 105px auto 0 auto;
  height: 300px;
  width:743px;
  max-width: 760px;
  display: block;
  padding-top: 80px;
  /*display: list-item;*/
  color: white;
  text-align: center;
  font-size: 70px;
  font-stretch: expanded;
  font-family: 'Oswald';
  font-weight: lighter;
}

.masthead-top small {
  font-size: 22px;
  text-align: left;
  display: block;
  line-height:

}

span.main {
  height: 152px;
  width: 100%;
  font-size: 152px;
  line-height: 140px;
}

.sub {
  width: 100%;
  font-size: 18px;
  line-height: 20px;

}

em {
  font-style: normal;
  color: #ff803a;
}

i {
  font-style: normal;
  color: #bdd436;
}

.masthead-bottom {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 750px;
  display: flex;
  justify-content: center;
}

.green-button {
  position: relative;
  width: 85%;
  height: 100px;
  background-color: #bdd436;
  color: white;
  text-align: center;
  font-size: 40px;
  margin-top: 60px;
  padding-top: 30px;
  padding-bottom: 0;
  border-radius: 62px;

}

.mission {
  background-color: #F0F0F0;
  color: #97A2A7;
  font-size: 65px;
  text-align: center;
  padding: 80px;
}

@media (max-width:768px) {

}
